<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="gitlab" value="https://gitlab.dobrozaim.ru/api/v4/projects/80/packages/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="gitlab+deploy-token-nuget" />
      <add key="ClearTextPassword" value="J48BzvrJL-2aJ82aBnYX" />
    </gitlab>
  </packageSourceCredentials>
</configuration>
